.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main{
  padding: 0px 20px 0px 0px;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}

.buscador{
  width: 500px;
}

.tipos{
  display: flex;
  justify-content:center;
}

.tipo{
  border-radius: 12px;
  padding: 3px 3px;
  margin: 2px 2px;
  border:.1rem solid #b5b5b5;
}

.Normal{
  background-color: #bbb;
}
.Fighting{
  background-color: #691919;
  color: #fff;
}
.Steel{
  background-color: #416d66;
}
.Water{
  background-color: #5252d8;
  color: #fff;
}
.Bug{
  background-color: #a3ff00;
}
.Dragon{
  background-color: #21215f;
  color: #fff
}
.Electric{
  background-color: #ffff00;
}
.Ghost{
  background-color: #80f;
  color: #fff
}
.Fire{
  background-color: #ff9000;
}
.Fairy{
  background-color: #ff00f0;
}
.Ice{
  background-color: rgb(106, 146, 207);
}
.Grass{
  background-color: rgb(63, 131, 77);
}
.Psychic{
  background-color: #f9f;
}
.Rock{
  background-color: rgb(134, 105, 81);
}
.Dark{
  background-color: #000;
  color:#fff;
}
.Ground{
  background-color: rgb(73, 56, 40);
  color: #fff
}
.Poison{
  background-color: #707;
  color: #fff
}
.Flying{
  background-color: #9da8b8;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
